extends layout
block head
  head
    link(rel='stylesheet', href='/stylesheets/user.css')
    script(src='/javascripts/lib/ajax.js')
    title= title
block content
  .toolbar.elevation-1
    .toolbar-logo--layout(onclick="javascripts:window.location.href='/'")
      .logo-colored
      .toolbar-title Balloon
    .icon-exit(onclick='logout()')
  .content
    .info-panel.elevation-1
      .icon-edit
      img.avatar(src='/api/avatar?username=' + username)
      .file-selector--layout
        label.file-selector--button(for='avatar-selector') Change
        input#avatar-selector.file-selector--input(type='file')
      .username= username
      .info
        .row
          .hint Name
          .value= nickname
        .row
          .hint Phone
          .value= phone
        .row
          .hint E-mail
          .value= email
        .row
          .hint Birth
          .value= birth
  script.
      let selector = document.querySelector('#avatar-selector')
      selector.onchange = function (ev) {
          console.log(selector.value)
          console.log(selector.files[0])
          ajax({
              url: '/api/avatar',
              method: 'PUT',
              data: {
                  avatar: selector.files[0],
                  name: 'wzjing'
              },
              onUploadSuccess: function () {
                  let avatar = document.querySelector('.avatar');
                  avatar.src = avatar.src + '&' + Math.random()
              }
          })
      }
      function logout() {
          ajax({
              url: '/login/logout',
              method: 'POST',
              onSuccess: function () {
                  window.location.href = '/'
              }
          })
      }
